.artH1 {
    width: 350px;
    height: 400px;
    margin-bottom: 5px;
    margin-right: 20%; 
 } 


.textItem {
    margin-left: 14%;
}

.imgItem {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.qzd1 img{
    padding: 5%;

}

.qzd1 {
    width: 421px;
    height: 495px;

}

 .listItem {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
 }

